#email-contact {
  margin-bottom: 100px;
  .container {
    padding: 55px 30px;
    background-image: url("../../images/email-contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .email-heading {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #ffffff;
  }

  .email-text {
    width: 100%;
    max-width: 517px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #ffffff;
  }

  .email-form {
    width: 100%;
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .email-input {
    width: 100%;
    padding: 18px 30px 17px 30px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    text-align: start;
    color: rgba(0, 0, 0, 0.4);
  }

  .email-submit {
    padding: 17px 40px 18px 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
    border: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
  }

  @media only screen and (max-width: 700px) {
    .email-heading {
      font-size: 32px;
      line-height: 50px;
    }
  }

  @media only screen and (max-width: 460px) {
    .email-form {
      flex-direction: column;
      justify-content: flex-end;
    }

    .email-submit {
      margin-top: 20px;
      margin-left: auto;
    }
  }
}
