.intro-section {
  margin-bottom: 100px;
  position: relative;
  background: rgb(2, 57, 87);
  background: linear-gradient(
    51deg,
    rgba(2, 57, 87, 0.8662815467984069) 0%,
    rgba(1, 42, 65, 0.9054972330729166) 40%,
    rgba(5, 96, 136, 0.9587185215883228) 56%,
    rgba(0, 212, 255, 1) 74%
  );
}

.intro-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.intro__bottom-line {
  width: 100%;
  height: 13px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro__main-img {
  width: 65.6%;
  height: 100%;
  max-height: 743px;
  vertical-align: middle;
  z-index: 1;
  object-fit: cover;
  // clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
}

.intro__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;

  .container {
    padding: 0 100px;
  }
}

.intro__heading {
  max-width: 740px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 52px;
  line-height: 78px;
  color: #ffffff;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.intro__heading._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.intro__description {
  margin-bottom: 32px;
  max-width: 410px;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.intro__description._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}

.intro__contact-link {
  display: inline-block;
  padding: 22px 34px;
  text-decoration: none;
  background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .intro__heading {
    margin-top: 100px;
    max-width: 620px;
    font-size: 46px;
    line-height: 60px;
  }

  .intro__description {
    line-height: 150%;
  }
}

@media only screen and (max-width: 1040px) {
  .intro__heading {
    margin-top: 50px;
    font-size: 34px;
    line-height: 44px;
  }
}

@media only screen and (max-width: 950px) {
  .intro__contact-link {
    padding: 18px 28px;
    line-height: 130%;
  }
}

@media only screen and (max-width: 880px) {
  .intro__heading {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 830px) {
  .intro__text .container {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .intro__heading {
    margin-top: 20px;
    max-width: 345px;
  }

  .intro__description {
    margin-bottom: 0;
    max-width: 345px;
    font-size: 14px;
    line-height: 120%;
  }

  .intro__contact-link {
    padding: 12px 20px;
    font-size: 14px;
    line-height: 110%;
  }

  .intro__main-img {
    width: 75%;
    height: 560px;
    max-height: 560px;
  }
}

// @media only screen and (max-width: 700px) {

// }

@media only screen and (max-width: 650px) {
  .intro__description {
    display: none;
  }

  .intro__text .container {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro__heading {
    max-width: 400px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .intro__main-img {
    width: 90%;
  }

  .intro__heading {
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 600px) {
  // .logo {
  //   max-width: 50px;
  // }

  // .menu-icon {
  //   max-width: 30px;
  // }

  .intro__main-img {
    // width: 95%;
    height: 550px;
    max-height: 140%;
  }

  // .intro__contact-link {
  //   font-size: 13px;
  //   line-height: 100%;
  // }
}
