.works-section {
  position: relative;
  margin-bottom: 180px;
  background-image: url("../../images/worksbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-80px);
  // z-index: -10;

  .works .container {
    padding-top: 173px;
    // padding-bottom: 200px;
  }

  .works__heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    color: #ffffff;
  }

  .works__title {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #ffffff;
  }

  .collection {
    margin-bottom: 32px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 147px;
    grid-auto-flow: dense;
  }

  .grid-item {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .grid-item .img-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .grid-item .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .grid-item .img-item--top img {
    object-position: 50% 0%;
  }

  .grid-item:hover .img-item img {
    transform: scale(1.2);
  }

  .w-2 {
    grid-column: span 2;
  }

  .h-2 {
    grid-row: span 2;
  }

  .h-3 {
    grid-row: span 3;
  }

  .more-link-wrapper {
    padding-bottom: 100px;
    text-align: end;
  }

  .more-link-line {
    display: inline-block;
    width: 60%;
    background: linear-gradient(
      180deg,
      rgba(64, 161, 202, 0.9) 0%,
      rgba(2, 57, 87, 0.9) 100%
    );
    padding: 2px;
  }

  .more-link {
    display: inline-block;
    padding: 22px 40px 23px 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
    color: #ffffff;
    text-decoration: none;
  }

  // Comments section =========================================================

  .works_comments {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .works__content {
    width: 306px;
    padding: 51px 8px 50px 33px;
    background-color: #fff;
  }

  .works__content-title {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
  }

  .works__content-text {
    width: 100%;
    max-width: 195px;
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #434343;
  }

  .works__column {
    width: 24px;
    height: 401px !important;
    background-color: #fff;
    height: 100%;
  }

  .works__client {
    position: relative;
    width: 100%;
    max-width: 970px;
    height: 401px;
    background-image: url("../../images/client-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .works__client-box {
    position: absolute;
    right: 0;
    bottom: -80px;
    width: 100%;
    max-width: 416px;
    padding: 59px 24px 29px 50px;
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
  }

  .works__client-avatar {
    position: absolute;
    top: -40px;
    left: -40px;
  }

  .works__client-opinion {
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
  }

  .works__client-name {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #ffffff;
  }

  // Works section adaptiv -----------

  @media only screen and (min-width: 1440px) {
  }

  @media only screen and (max-width: 950px) {
    .collection {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 670px) {
    .works__column {
      // display: none;
    }
  }

  @media only screen and (max-width: 550px) {
    .collection {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 200px;
    }

    .w-2,
    .w-3 {
      grid-column: span 1;
    }

    .h-2,
    .h-3 {
      grid-row: span 1;
    }
  }

  @media only screen and (max-width: 400px) {
    .collection {
      grid-auto-rows: 150px;
    }

    .more-link-line {
      width: 100%;
    }

    .more-link {
      padding: 16px 30px 18px 31px;
    }

    .works .container {
      // padding: 0 40px;
      padding-top: 173px;
      // padding-bottom: 200px;
    }
  }

  // Comments section adaptiv ----------

  @media only screen and (max-width: 760px) {
    .works__column {
      display: none;
    }

    .works__client-avatar {
      position: static;
      top: 0;
      left: 0;
    }

    .works__client-box {
      position: static;
    }
  }

  @media only screen and (max-width: 630px) {
    .container {
      padding: 0 20px;
    }

    .works_comments {
      flex-direction: column;
    }

    .works__content {
      width: 100%;
      max-width: 100%;
    }
  }
}
